.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.search {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #006ce9;
  display: block;
  width: fit-content;
}
.centerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.container {
  padding-block-start: 20px;
  display: grid;
  grid-template-columns: 300px 300px;
  justify-content: center;
  gap: 20px;
}
.content {
  background-color: aliceblue;
  color: #006ce9;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-align: center;
  padding-block: 20px;
}

.name {
  font-size: 20px;
  font-weight: bold;
}
.link > a {
  text-decoration: none;
  text-transform: capitalize;
}
